<% layout('layout') %>

<div class="text-center">
  <h3>Welcome, <%= user.first_name %>!</h3>
  <p>You are logged in.</p>
  <a href="/log-out" class="btn btn-danger shadow-sm rounded-pill">Log out</a>
</div>
