<% layout('layout') %>

<div class="mx-auto" style="max-width: 540px">
  <h2 class="text-center">Log In</h2>

  <% if (hasMessages) { %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% messages.forEach((message) => { %>
      <li><%= message %></li>
      <% }) %>
    </ul>
  </div>
  <% } %>

  <form class="my-3" action="/log-in" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        autocomplete="username"
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="current-password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="current-password"
        name="password"
        autocomplete="current-password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  <p class="text-center">
    Don't have an account? <a href="/sign-up">Sign up</a>
  </p>
</div>
