<% layout('layout') %>

<div class="mx-auto" style="max-width: 540px">
  <div class="alert alert-success text-center">
    <p>Congratulations! You are now an admin.</p>
    <a href="/">Okay</a>
  </div>
</div>
